* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.greeting-container {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.greeting-container img {
  height: 700px;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.navbar {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.logo, .links {
  color: white;
}

.logo {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.links {
  float: right;
  margin-right: 100px;
  margin-top: 35px;
}

.links li {
  display: inline;
  margin: 30px;
  transition: .3s;
  text-decoration: none;
  color: white;
}

.links li:hover {
  font-size: 20px;
}

.links button {
  height: 40px;
  width: 130px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  transition: .3s;
}

.links button:hover {
  background-color: white;
  color: black;
}

.greeting-text {
  height: 200px;
  width: 50%;
  position: absolute;
  z-index: 1;
  margin-top: 300px;
  margin-left: 450px;
}

.greeting-text h1 {
  width: 500px;
  color: white;
  font-size: 5em;
  margin: auto;
}

.greeting-text button {
  margin: 20px 380px;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  transition: .3s;
}

.greeting-text button:hover {
  background-color: white;
  color: black;
}

.intro-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text {
  height: 40%;
  width: 40%;
  text-align: center;
}

.intro-text h1 {
  font-size: 50px;
}

.intro-text h3 {
  margin-top: 20px;
  font-weight: 400;
}

.section-one-container {
  height: 600px;
  width: 100%;
  display: flex;
}

.section-one-left {
  height: 100%;
  width: 50%;
}

.section-one-left img {
  height: 500px;;
  width: 800px;
  margin: 50px;
}

.section-one-right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one-text {
  width: 50%;
}

.section-one-text h1 {
  font-size: 50px;
}

.section-one-text h3 {
  font-weight: 400;
  margin-top: 20px;
}

.section-one-text button {
  margin-top: 30px;
  height: 40px;
  width: 150px;
  background-color: gray;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  transition: .3s;
}

.section-one-text button:hover {
  background-color: rgb(68, 64, 64);
  cursor: pointer;
}

.section-two-container {
  height: 600px;
  width: 100%;
  display: flex;
}

.section-two-left {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-two-text {
  width: 50%;
}

.section-two-text h1 {
  font-size: 50px;
}

.section-two-text h3 {
  font-weight: 400;
  margin-top: 20px;
}

.section-two-text button {
  margin-top: 30px;
  height: 40px;
  width: 150px;
  background-color: gray;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  transition: .3s;
}

.section-two-text button:hover {
  background-color: rgb(68, 64, 64);
  cursor: pointer;
}

.section-two-right {
  height: 100%;
  width: 50%;
}

.section-two-right img {
  height: 500px;
  width: 800px;
  margin: 50px;
}

.subscribe-container {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

.subscribe-text {
  width: 50%;
  text-align: center;
}

.subscribe-text h1 {
  font-size: 50px;
}

.subscribe-text h3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subscribe-text input, button {
  height: 40px;
  justify-content: space-between;
  margin: 5px;
}

.subscribe-text input {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 300px;
}

.subscribe-text button {
  width: 140px;
  background-color: gray;
  color: white;
  border-radius: 15px;
  border: none;
  transition: .3s;
  font-size: 18px;
}

.subscribe-text button:hover {
  background-color: rgb(68, 64, 64);
  cursor: pointer;
}

.footer-container {
  height: 140px;
  width: 100%;
  background-color: rgb(31, 30, 30);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-info ul li {
  display: inline;
  margin: 10px;
}

.about-image {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.about-image img {
  height: 900px;  
  width: 100%;
  position: absolute;
  z-index: 0;
}

.about-greeting {
  height: 200px;
  width: 50%;
  position: absolute;
  z-index: 1;
  margin-top: 350px;
  margin-left: 600px;
  color: white;
  font-size: 40px;
}

.about-section-1 {
  margin-top: 200px;
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section-1 h1 {
  height: 300px;
  width: 1100px;
  font-size: 45px;
}

.about-section-2 {
  height: 400px;
  width: 100%;
  background-color: whitesmoke;
}

.about-section-2 h2, .about-section-3 h2 {
  height: 100px;
  width: 400px;
  margin-left: 30%;
  padding-top: 80px;
  font-size: 30px;
}

.about-section-2 p, .about-section-3 p {
  height: 300px;
  width: 800px;
  margin-left: 30%;
  padding-top: 50px;
  font-size: 20px;
}

.about-section-3 {
  height: 400px;
  width: 100%;
}

.news-image {
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.news-image img {
  height: 700px;  
  width: 100%;
  position: absolute;
  z-index: 0;
}

.news-greeting {
  height: 200px;
  width: 50%;
  position: absolute;
  z-index: 1;
  margin-top: 250px;
  margin-left: 600px;
  color: white;
  font-size: 40px;
}

.news-article {
  height: 400px;
  width: 100%;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-article-image {
  height: 300px;
  width: 500px;
  border: 2px solid blue;
}

.news-article-heading {
  height: 300px;
  width: 800px;
  border: 2px solid orange;
  padding-top: 80px;
  padding-left: 30px;
}
